/*regole generali*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

/*regole header*/
#header-nav-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    /*debug*/
    background-color: #ADD8E7;
    height: 80px;
}

#header-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center; 
    width: 80%;
    margin:0 auto;
    /*debug*/
    background-color:#DAA71F;
    height: 50%;
}

#header-img-back {
    display: flex;
    align-items: center;
   /*debug*/
   background-color:#00018B;
   height: 600px;
}

#header-img-container {
    margin:0 auto;
    /*debug*/
    background-color:#EF82ED;
    height: 70%;
    width: 60%;
}